<div>
  <h1>Name: {{studentIn.firstName}} {{studentIn.lastName}}</h1>
  <p>Age: {{studentIn.age}}</p>
  <!-- <p>ID: {{studentIn.id}}</p> -->
  <p>Natioanlity: {{studentIn.nationality}}</p>
  <p>Degree: {{studentIn.degree}}</p>
  <p>Gender: {{studentIn.gender}}</p>
  <p>Home Address: {{studentIn.homeAddress}}</p>
  <p>Marriage Status: {{studentIn.status}}</p>
  <h2>Educational Background:</h2>
  <p>Elementary School: {{studentIn.elementarySchool}}</p>
  <p>High School: {{studentIn.highSchool}}</p>
  <p>College School: {{studentIn.collegeSchool}}</p>
</div>
